@import url(index.css);
@import url(index.header.css);
@import url(index.about-country.css);
@import url(index.about-us.css);
@import url(index.norway.css);
@import url(index.travel-to-tromso.css);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    --title-color: #FFFFFF;
    --subtitle-color: #505155; 
    --article-title-color: #232438; 
    --article-text-color: #A9A9A9;
    --title-font-family: 'Playfair Display', serif;
    --text-font-family; 'Roboto', sans-serif;
}
