<section class="about-norway">
  <div class="about-norway__image-container">
    <img class="about-norway__image" src="img/big-letter-a.png" alt="Big letter A with mountain view on it" width="425">
    </div>
  <h6 class="about-norway__subtitle">About Norway</h6> 
  <div class="about-norway__info">
     <h2 class="about-norway__title">Land of The Midnight Sun</h2>
     <p class="about-norway__description-name">It is believed that the name of this distinctive country and one of the most breathtaking places on our planet was given by the Old-Norse word Norðrvegr,
       literally meaning "way to the north."</p>
     <p class="about-norway__description-nature">Norway is famous for green forests and mountains, pristine glaciers, noisy and cool waterfalls, lakes, beautiful fjords, white nights, and the polar lights. 
      The beauty of Norway cannot be described in words!</p>
     <p class="about-norway__description-hobby">Norway is also known for its striking landscapes, hunting, fishing, interesting and entertaining history, and culture. 
        All this attracts travel lovers who come to Norway regardless of the season from all over the world.</p>
     <div class="about-norway__info-containers info-containers">
         <div class="info-containers__part">
           <span>17,000+</span>
           <span>Fjords</span>
         </div>
         <div class="info-containers__part">
           <span>36</span>
           <span>Kilometers of coastal strip</span>
         </div>
         <div class="info-containers__part">
           <span>450,000+</span>
           <span>Freshwater lakes</span>
         </div>
         <div class="info-containers__part">
           <span>10,000</span>
           <span>Waterfalls</span>
         </div>
  </div>
</section>