<nav class="header__nav">
    <img class="header__nav-image" src="img/norway-logotype.png" alt="Norway Logotype" width="180">
    <ul class="header__nav-links">
       <li class="header__nav-item"> 
          <a class="header__nav-list-link" href="#aboutus"> About us</a>
       </li>
       <li class="header__nav-item">
          <a class="header__nav-list-link" href="#itinerary">Itinerary</a>
       </li>
       <li class="header__nav-item">
          <a class="header__nav-list-link" href="#testimonials">Testimonials</a>
       </li>
       <li class="header__nav-item">
          <a class="header__nav-list-link" href="#blog">Blog</a>
       </li>
       <li class="header__nav-item">
         <a class="header__nav-list-link" href="#contacts">Contacts</a>
       </li>
       <li class="header__nav-item">
         <a class="header__nav-list-link" href="#joinus">Join Us</a>
       </li>
    </ul>
  </nav>
