<section class="aboutus__container aboutus" id="aboutus">
    <h6 class="aboutus__title"> ABOUT US</h6>
    <h2 class="aboutus__subtitle"> Expertly crafted tours to Norway. 10 days of admiring nordic cities. fjords, and waterfalls.</h2>
    <p class="aboutus__info"> We offer guided tours in Norway - one of the most beautiful Nordic countries. We will cross the entire country,
       from Oslo to Tromsø, visit amazing cities, and see stunning nature.</p>
    <p class="aboutus__info"> The program is carefully thought out, there are no more than 10 people in each group plus an English-speaking guide.
       Comfortable vans and nights in 3*+ hotels are included in the price.</p>
    <article class="aboutus__carsd cards">
       <img class="cards__image" src="img/first-icon-article.png" alt="Number One Contact Us"  width="300">
       <h4 class="cards__title"> Contact us</h4>
       <p class="cards__info"> Some tour conditions may be changed according to the season. To learn more about the program, please contact us.
       </p>
    </article>
    <article class="aboutus__carsd cards">
       <img class="cards__image" src="img/second-icon-article.png" alt="Number Two Pick a Date" width="300">
       <h4 class="cards__title"> Pick a date</h4>
       <p class="cards__info"> We conduct tours all year round, almost every week, but the most comfortable weather for sightseeing is in summer.</p>
    </article>
    <article class="aboutus__carsd cards"> 
      <img class="cards__image" src="img/third-icon-article.png" alt="Number Three Start your Journey" width="300">
      <h4 class="cards__title">Start your journey</h4>
      <p class="cards__info"> If necessary, we help you apply for a visa to Norway, as well as advise what things you should take with you.</p>
    </article>
  </section>